# Created by .ignore support plugin (hsz.mobi)
.gitignore (1)
.idea/
draft.py
fake_client/__pycache__/
hotelling_server/graph/__pycache__/
hotelling_server/interface/__pycache__/
hotelling_server/management/__pycache__/
hotelling_server/parameters/map_android_id_server_id copy.json
hotelling_server/server/__pycache__/
utils/__pycache__/
hotelling_server/__pycache__/
hotelling_server/control/__pycache__/
hotelling_server/graphics/__pycache__/
hotelling_server/graphics/widgets/__pycache__/
*/__pycache__/
**/__pycache__/


