# Created by .ignore support plugin (hsz.mobi)
.idea/
draft.py
fake_client/__pycache__/
hotelling_server/graph/__pycache__/
hotelling_server/interface/__pycache__/
hotelling_server/management/__pycache__/
hotelling_server/parameters/map_android_id_server_id copy.json
hotelling_server/server/__pycache__/
hotelling_server/parameters/*.json
__pycache__/

